<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show Odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" [ngClass]="{'odd': odd % 2 !== 0}"
            [ngStyle]="{'backgroundColor': odd % 2 !== 0 ? 'yellow' : 'transparent'}" *ngFor="let odd of oddNumbers">
            {{odd}}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li class="list-group-item" [ngClass]="{'odd': even % 2 !==0}"
            [ngStyle]="{'backgoundColor': even % 2 !== 0 ? 'yellow' : 'transparent'}" *ngFor="let even of evenNumbers">
            {{even}}
          </li>
        </div>
        THE SAME AS DIV ABOVE ... BUT USING TEMPLATE
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li class="list-group-item" [ngClass]="{'odd': even % 2 !==0}"
              [ngStyle]="{'backgoundColor': even % 2 !== 0 ? 'yellow' : 'transparent'}"
              *ngFor="let even of evenNumbers">
              {{even}}
            </li>
          </div>
        </ng-template> -->
        <div *appUnless="onlyOdd">
          <li class="list-group-item" [ngClass]="{'odd': even % 2 !==0}"
            [ngStyle]="{'backgoundColor': even % 2 !== 0 ? 'yellow' : 'transparent'}" *ngFor="let even of evenNumbers">
            {{even}}
          </li>
        </div>

      </ul>
      <p appBasicHighlight>Style me with Basic Directive!</p>
      <p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with a Better Directive!</p>
      <br/>
      <h4>Using Switch Directive</h4>
      <div [ngSwitch]="value">
      <p *ngSwitchCase="5">5</p>
      <p *ngSwitchCase="10">10</p>
      <p *ngSwitchCase="100">100</p>
      <p *ngSwitchDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>
